aws-serverless/cfn/serverless.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'This template deploys a number of AWS Serverless resources in std (non SAM) format'
Parameters:
  AppCode:
    Type: 'String'
    Default: 'demo-serverless'
  Environment:
    Type: 'String'
    Default: 'dev'
  LambdaBucket:
    Type: String
    Default: 238160719262-deployments
    Description: Bucket Name for lambda lambda code bundles.
  ControlSFNFunctionBucketKey:
    Type: String
    Default: state-machine-control-1.0.0.zip
    Description: Bucket Key for control lambda code bundle.
  ProcessSFNFunctionBucketKey:
    Type: String
    Default: state-machine-process-1.0.0.zip
    Description: Bucket Key for process lambda code bundle.
  FilesAPIFunctionBucketKey:
    Type: String
    Default: files-api-1.0.0.zip
    Description: Bucket Key for API lambda code bundle.
  UtilsLayerBucketKey:
    Type: String
    Default: utils-layer-1.0.0.zip
    Description: Bucket Key for utils later code bundle.
  ModelsLayerBucketKey:
    Type: String
    Default: models-layer-1.0.0.zip
    Description: Bucket Key for models later code bundle.
  ProcessQueueManagerSchedule:
    Type: String
    Default: "rate(5 minutes)"
    Description: Schedule, cron or rate, for state machine to run.
  ProcessLambdaExecutionQueryMins:
    Type: String
    Default: "2"
  ProcessLambdaMaxConcurrent:
    Type: String
    Default: "10"
  ProcessLambdaSQSBatchSize:
    Type: String
    Default: "5"
  ProcessLambdaTimeoutSecs:
    Type: String
    Default: "120"
  QueueVisibilityTimeout:
    Type: String
    Default: "125"
  SQSDirectLambdaStream:
    Type: String
    Default: 'false'
    Description: If true, enables trigger of queue process lambda from SQS event and sets event as the record source, otherwise use the step function to process the queue
    AllowedValues: ['true', 'false']
  QueueProcessName:
    Type: String
    Default: "DemoQueue"
  CreateAPIKey:
    Type: 'String'
    Default: 'false'
    AllowedValues: ['true', 'false']
  APIDeploymentStage:
    Type: 'String'
    Default: 'v1'
  APIKeyValue:
    Description: Predetermined value to use for API GW Key (if selected).
    Type: String
    Default: "123456789012345678901234567890"
  PrimaryRegion:
    Description: Primary Region ID to detect where to deploy account wide resources. 
    Type: String
    Default: "ap-southeast-2"

Conditions:
  DoAPIKEY: !Equals 
    - !Ref CreateAPIKey
    - 'true'
  IsPrimaryRegion: !Equals 
    - !Ref PrimaryRegion
    - !Ref AWS::Region
  QueueProcessDirect: !Equals 
    - !Ref SQSDirectLambdaStream
    - "true"

Resources:
  FileDataBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${AWS::AccountId}-${AppCode}-${Environment}-file-data'
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              KMSMasterKeyID: !Sub 'arn:aws:kms:${AWS::Region}:${AWS::AccountId}:alias/aws/s3'
              SSEAlgorithm: 'aws:kms'
      # LoggingConfiguration:
      #   DestinationBucketName: !Sub '${AWS::AccountId}-logging'
      #   LogFilePrefix: s3serveraccesslogs/file-data
      NotificationConfiguration:
        QueueConfigurations:
          - Event: s3:ObjectCreated:*
            Queue: !GetAtt ProcessSQSQueue.Arn
  ControlDynamoDBTable:
    Type: 'AWS::DynamoDB::Table'
    Properties:
      TableName: !Sub '${AppCode}-${Environment}-Process-Control'
      AttributeDefinitions:
        - AttributeName: 'process_name'
          AttributeType: 'S'
        - AttributeName: 'metric_name'
          AttributeType: 'S'
      KeySchema:
        - AttributeName: 'process_name'
          KeyType: 'HASH'
        - AttributeName: 'metric_name'
          KeyType: 'RANGE'
      BillingMode: 'PAY_PER_REQUEST'
  FilesDynamoDBTable:
    Type: 'AWS::DynamoDB::Table'
    Properties:
      TableName: !Sub '${AppCode}-${Environment}-Files'
      AttributeDefinitions:
        - AttributeName: 'id'
          AttributeType: 'S'
        - AttributeName: 'filename'
          AttributeType: 'S'
      KeySchema:
        - AttributeName: 'id'
          KeyType: 'HASH'
      BillingMode: 'PAY_PER_REQUEST'
      GlobalSecondaryIndexes:
        -
          IndexName: 'filename-index'
          KeySchema:
            -
              AttributeName: 'filename'
              KeyType: 'HASH'
            -
              AttributeName: 'id'
              KeyType: 'RANGE'
          Projection:
            NonKeyAttributes:
              - 'filename'
              - 'id'
              - 'date_modified'
            ProjectionType: 'INCLUDE'

  S3ReadWritePolicy:
    Type: 'AWS::IAM::ManagedPolicy'
    Properties:
      ManagedPolicyName: !Sub '${AppCode}-${Environment}-S3-ReadWrite-Policy'
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - 's3:ListBucket'
              - 's3:GetBucket*'
              - 's3:GetObject*'
              - 's3:PutObject'
              - 's3:PutObjectTagging'
              - 's3:DeleteObject'
              - 's3:DeleteObjectTagging'
              - 's3:ListMultipartUploadParts'
              - 's3:AbortMultipartUpload'
            Resource:
              - !Sub 'arn:aws:s3:::${AWS::AccountId}-${AppCode}-${Environment}-file-data'
              - !Sub 'arn:aws:s3:::${AWS::AccountId}-${AppCode}-${Environment}-file-data/*'
  DynamoReadWritePolicy:
    Type: 'AWS::IAM::ManagedPolicy'
    Properties:
      ManagedPolicyName: !Sub '${AppCode}-${Environment}-DynamoDB-ReadWrite-Policy'
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - 'dynamodb:BatchGet*'
              - 'dynamodb:DescribeStream'
              - 'dynamodb:DescribeTable'
              - 'dynamodb:Get*'
              - 'dynamodb:Query'
              - 'dynamodb:Scan'
              - 'dynamodb:BatchWrite*'
              - 'dynamodb:DeleteItem'
              - 'dynamodb:UpdateItem'
              - 'dynamodb:PutItem'
            Resource:
              - !Sub '${ControlDynamoDBTable.Arn}'
              - !Sub '${ControlDynamoDBTable.Arn}/index/*'
              - !Sub '${FilesDynamoDBTable.Arn}'
              - !Sub '${FilesDynamoDBTable.Arn}/index/*'
  StepFunctionPolicy:
    Type: 'AWS::IAM::ManagedPolicy'
    Properties:
      ManagedPolicyName: !Sub '${AppCode}-${Environment}-StepFunction-Policy'
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - 'states:Send*'
              - 'states:StartExecution'
              - 'states:ListExecutions'
            Resource:
              - !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AppCode}-${Environment}-Queue-Process-SFN'
  SQSPolicy:
    Type: 'AWS::IAM::ManagedPolicy'
    Properties:
      ManagedPolicyName: !Sub '${AppCode}-${Environment}-SQS-Policy'
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - 'sqs:ReceiveMessage*'
              - 'sqs:ChangeMessage*'
              - 'sqs:SendMessage*'
              - 'sqs:DeleteMessage*'
              - 'sqs:GetQueueAttributes'
            Resource:
              - !GetAtt 'ProcessSQSQueue.Arn'
  CloudwatchPolicy:
    Type: 'AWS::IAM::ManagedPolicy'
    Properties:
      ManagedPolicyName: !Sub '${AppCode}-${Environment}-Cloudwatch-Policy'
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - 'logs:CreateLog*'
              - 'logs:GetLog*'
              - 'logs:PutLog*'
              - 'logs:DeleteMessage*'
              - 'logs:DescribeLogStreams'
              - 'logs:DescribeLogGroups'
              - 'logs:UpdateLogDelivery'
              - 'logs:DeleteLogDelivery'
              - 'logs:ListLogDeliveries'
              - 'logs:PutResourcePolicy'
              - 'logs:DescribeResourcePolicies'
            Resource:
              - '*'
  CloudwatchMetricsPolicy:
    Type: 'AWS::IAM::ManagedPolicy'
    Properties:
      ManagedPolicyName: !Sub '${AppCode}-${Environment}-CloudwatchMetrics-Policy'
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action:
              - 'cloudwatch:GetMetricData'
            Resource:
              - '*'

  ProcessSQSQueue:
    Type: 'AWS::SQS::Queue'
    Properties:
      VisibilityTimeout: !Ref QueueVisibilityTimeout
  ProcessSQSQueuePolicy:
    Type: 'AWS::SQS::QueuePolicy'
    Properties:
      PolicyDocument:
        Statement:
          -
            Effect: "Allow"
            Principal: 
              Service:
                - "events.amazonaws.com"
                - "s3.amazonaws.com"
            Action: "SQS:SendMessage"
            Resource: !GetAtt 'ProcessSQSQueue.Arn'
      Queues:
      - !Ref 'ProcessSQSQueue'

  ControlSFNFunction:
    Type: 'AWS::Lambda::Function'
    DependsOn: ControlSFNFunctionLogGroup
    Properties:
      FunctionName: !Sub '${AppCode}-${Environment}-Queue-Process-Control-Lambda'
      Code:
        S3Bucket: !Ref LambdaBucket
        S3Key: !Ref ControlSFNFunctionBucketKey
      Layers:
        - !Ref UtilsLayer
        - !Ref ModelsLayer
      Handler: lambda.handler
      Role: !GetAtt   ControlSFNFunctionIAMRole.Arn
      Runtime: python3.12
      MemorySize: 128
      Timeout: 10
      Environment:
        Variables:
          APP_CODE: !Ref AppCode
          ENVIRONMENT: !Ref Environment
          SQS_QUEUE_URL: !Ref ProcessSQSQueue
          SQS_QUEUE_ARN: !GetAtt ProcessSQSQueue.Arn
          STEP_FUNCTION_ARN: !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AppCode}-${Environment}-Queue-Process-SFN'
          DYNAMODB_CONTROL_TABLE_NAME: !Ref ControlDynamoDBTable
          DYNAMODB_CONTROL_TABLE_ARN: !GetAtt ControlDynamoDBTable.Arn
          PROCESSOR_LAMBDA_NAME: !Ref ProcessSQSFunction
          PROCESSOR_LAMBDA_ARN: !GetAtt ProcessSQSFunction.Arn
          PROCESSOR_LAMBDA_MAX_CONCURRENT: !Ref ProcessLambdaMaxConcurrent
          PROCESSOR_LAMBDA_EXECUTION_QUERY_MINS: !Ref ProcessLambdaExecutionQueryMins
          PROCESSOR_LAMBDA_SQS_BATCH_SIZE:  !Ref ProcessLambdaSQSBatchSize
          PROCESS_NAME: !Ref QueueProcessName
  ControlSFNFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AppCode}-${Environment}-Queue-Process-Control-Lambda'
      RetentionInDays: 14
  ControlSFNFunctionIAMRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: !Sub '${AppCode}-${Environment}-Queue-Process-Control-Lambda-IAMRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - !Ref 'StepFunctionPolicy'
        - !Ref 'DynamoReadWritePolicy'
        - !Ref 'SQSPolicy'
        - !Ref 'CloudwatchMetricsPolicy'
      Policies:
        - PolicyName: LambdaInvokePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource: '*'
              - Effect: Allow
                Action:
                  - 'lambda:InvokeFunction'
                Resource: 
                  - !GetAtt 'ProcessSQSFunction.Arn'
  ProcessSQSFunction:
    Type: 'AWS::Lambda::Function'
    DependsOn: ProcessSQSFunctionLogGroup
    Properties:
      FunctionName: !Sub '${AppCode}-${Environment}-Queue-Process-Lambda'
      Code:
        S3Bucket: !Ref LambdaBucket
        S3Key: !Ref ProcessSFNFunctionBucketKey
      Layers:
        - !Ref UtilsLayer
        - !Ref ModelsLayer
      Handler: lambda.handler
      Role: !GetAtt ProcessSQSFunctionIAMRole.Arn
      Runtime: python3.12
      MemorySize: 128
      Timeout: !Ref ProcessLambdaTimeoutSecs
      Environment:
        Variables:
          APP_CODE: !Ref AppCode
          ENVIRONMENT: !Ref Environment
          SQS_QUEUE_URL: !Ref ProcessSQSQueue
          SQS_QUEUE_ARN: !GetAtt ProcessSQSQueue.Arn
          DYNAMODB_CONTROL_TABLE_NAME: !Ref ControlDynamoDBTable
          DYNAMODB_CONTROL_TABLE_ARN: !GetAtt ControlDynamoDBTable.Arn
          DYNAMODB_FILES_TABLE_NAME: !Ref FilesDynamoDBTable 
          DYNAMODB_FILES_TABLE_ARN: !GetAtt FilesDynamoDBTable.Arn 
          PROCESSOR_LAMBDA_SQS_BATCH_SIZE: !Ref ProcessLambdaSQSBatchSize
          PROCESSOR_LAMBDA_TIMEOUT_SECS: !Ref ProcessLambdaTimeoutSecs
          PROCESS_NAME: !Ref QueueProcessName
          SQS_DIRECT_LAMBDA_STREAM: !Ref SQSDirectLambdaStream
  ProcessSQSFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AppCode}-${Environment}-Queue-Process-Lambda'
      RetentionInDays: 14
  ProcessSQSFunctionIAMRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: !Sub '${AppCode}-${Environment}-Queue-Process-Lambda-IAMRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - !Ref 'StepFunctionPolicy'
        - !Ref 'DynamoReadWritePolicy'
        - !Ref 'SQSPolicy'
  ProcessSQSFunctionEventSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      BatchSize: !Ref ProcessLambdaSQSBatchSize
      Enabled: !If [ QueueProcessDirect, true, false ]
      EventSourceArn: !GetAtt ProcessSQSQueue.Arn
      FunctionName: !GetAtt ProcessSQSFunction.Arn
      MaximumBatchingWindowInSeconds: 10

  FileAPIFunction:
    Type: 'AWS::Lambda::Function'
    DependsOn: FileAPIFunctionLogGroup
    Properties:
      FunctionName: !Sub '${AppCode}-${Environment}-File-API'
      Code:
        S3Bucket: !Ref LambdaBucket
        S3Key: !Ref FilesAPIFunctionBucketKey
      Layers:
        - !Ref UtilsLayer
        - !Ref ModelsLayer
      Handler: lambda.handler
      Role: !GetAtt FileAPIFunctionIAMRole.Arn
      Runtime: python3.12
      MemorySize: 128
      Timeout: 10
      Environment:
        Variables:
          APP_CODE: !Ref AppCode
          ENVIRONMENT: !Ref Environment
          DYNAMODB_FILES_TABLE_NAME: !Ref FilesDynamoDBTable
          DYNAMODB_FILES_TABLE_ARN: !GetAtt FilesDynamoDBTable.Arn 
  FileAPIFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${AppCode}-${Environment}-File-API'
      RetentionInDays: 14
  FileAPIFunctionIAMRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: !Sub '${AppCode}-${Environment}-File-API-Lambda-IAMRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - !Ref 'DynamoReadWritePolicy'

  UtilsLayer:
    Type: 'AWS::Lambda::LayerVersion'
    Properties:
      LayerName: !Sub '${AppCode}-${Environment}-Utils-Layer'
      Content:
        S3Bucket: !Ref LambdaBucket
        S3Key: !Ref UtilsLayerBucketKey
      CompatibleRuntimes:
        - python3.11
        - python3.12
  ModelsLayer:
    Type: 'AWS::Lambda::LayerVersion'
    Properties:
      LayerName: !Sub '${AppCode}-${Environment}-Models-Layer'
      Content:
        S3Bucket: !Ref LambdaBucket
        S3Key: !Ref ModelsLayerBucketKey
      CompatibleRuntimes:
        - python3.11
        - python3.12

  ProcessQueueStateMachineExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: !Sub '${AppCode}-${Environment}-Queue-Process-SFN-Role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: 'Allow'
            Principal:
              Service:
                - !Sub states.amazonaws.com
            Action: 'sts:AssumeRole'
      Path: "/"
      ManagedPolicyArns:
        - !Ref 'CloudwatchPolicy'
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - 'iam:PassRole'
                Resource: '*'
              - Effect: Allow
                Action:
                  - 'lambda:InvokeFunction'
                Resource: 
                  - !GetAtt 'ControlSFNFunction.Arn'
                  - !GetAtt 'ProcessSQSFunction.Arn'
              - Effect: Allow
                Action:
                  - 'states:StartExecution'
                Resource: 
                  - !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AppCode}-${Environment}-Queue-Process-SFN'
  ProcessQueueStateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub 'step/${AWS::Region}/${AWS::AccountId}/${AppCode}-${Environment}-Queue-Process-SFN'
      RetentionInDays: 14
  ProcessQueueStateMachine:
    Type: 'AWS::StepFunctions::StateMachine'
    Properties:
      StateMachineName: !Sub '${AppCode}-${Environment}-Queue-Process-SFN'
      DefinitionString:
        !Sub
          - |-
            {
              "Comment": "Demo SQS Poll and Process Workflow",
              "StartAt": "Poll SQS",
              "States": {
                  "Poll SQS": {
                      "Type": "Task",
                      "Resource": "${ControlFunction}",
                      "Parameters": {
                          "InputCopy.$": "$"
                      },
                      "Retry": [
                          {
                              "ErrorEquals": [
                                  "CapacityException",
                                  "ProcessException"
                              ],
                              "IntervalSeconds": 10,
                              "MaxAttempts": 30,
                              "BackoffRate": 1.0
                          },
                          {
                              "ErrorEquals": [
                                  "States.ALL"
                              ],
                              "IntervalSeconds": 5,
                              "MaxAttempts": 2,
                              "BackoffRate": 1.2
                          }
                      ],
                      "Next": "Evaluate Action",
                      "Catch": [
                          {
                              "ErrorEquals": [
                                  "StillProcessingException"
                              ],
                              "Next": "Wait For Processing"
                          },
                          {
                              "ErrorEquals": [
                                  "ProcessException"
                              ],
                              "Next": "ProcessingException"
                          },
                          {
                              "ErrorEquals": [
                                  "KillSwitchException"
                              ],
                              "Next": "KillSwitchException"
                          },
                          {
                              "ErrorEquals": [
                                  "CapacityException"
                              ],
                              "Next": "CapacityException"
                          },
                          {
                              "ErrorEquals": [
                                  "AlreadyRunningException"
                              ],
                              "Next": "ExistingSFNRunning"
                          },
                          {
                              "ErrorEquals": [
                                  "States.ALL"
                               ],
                              "Next": "Error"
                          }
                      ],
                      "TimeoutSeconds": 1800
                  },
                  "Evaluate Action": {
                    "Type" : "Choice",
                    "Choices": [
                      {
                        "Variable": "$.run_count",
                        "NumericGreaterThan": 0,
                        "Next": "Prep Action"
                      }
                    ],
                    "Default": "AllDone"
                  },
                  "Prep Action": {
                    "Type": "Pass",
                    "Parameters": {
                      "procs.$": "States.ArrayRange(1, $.run_count, 1)"
                    },
                    "Next": "Process Messages"
                  },
                  "Process Messages": {
                    "Type": "Map",
                    "ItemsPath": "$.procs",
                    "ItemSelector": {
                      "instance.$": "$$.Map.Item.Value"
                    },
                    "ItemProcessor": {
                      "StartAt": "Start Processor",
                      "ProcessorConfig": {
                        "Mode": "DISTRIBUTED",
                        "ExecutionType": "STANDARD"
                      },
                      "States": {
                        "Start Processor": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::lambda:invoke",
                          "OutputPath": "$.Payload",
                          "Parameters": {
                            "Payload.$": "$",
                            "FunctionName": "${ProcessFunction}"
                          },
                          "End": true
                        }
                      }
                    },
                    "Next": "Wait For Processing"
                  },
                  "Wait For Processing": {
                      "Type": "Wait",
                      "Seconds": 30,
                      "Next": "Poll SQS"
                  },
                  "ProcessingException": {
                    "Type": "Fail",
                    "Comment": "ProcessingException Error occurred",
                    "ErrorPath": "$.Error",
                    "CausePath": "$.Cause"
                  },
                  "CapacityException": {
                    "Type": "Fail",
                    "Comment": "CapacityException Error occurred",
                    "ErrorPath": "$.Error",
                    "CausePath": "$.Cause"
                  },
                  "KillSwitchException": {
                    "Type": "Fail",
                    "Comment": "KillSwitchException Error occurred",
                    "ErrorPath": "$.Error",
                    "CausePath": "$.Cause"
                  },
                  "Error": {
                    "Type": "Fail",
                    "Comment": "Unexpected Error occurred",
                    "ErrorPath": "$.Error",
                    "CausePath": "$.Cause"
                  },
                  "ExistingSFNRunning": {
                    "Type": "Succeed"
                  },
                  "AllDone": {
                    "Type": "Succeed"
                  }
              }
            }
          -
            ControlFunction: !GetAtt 'ControlSFNFunction.Arn'
            ProcessFunction: !GetAtt 'ProcessSQSFunction.Arn'
      RoleArn: !GetAtt 'ProcessQueueStateMachineExecutionRole.Arn'
      LoggingConfiguration:
        Destinations:
        - CloudWatchLogsLogGroup:
            LogGroupArn: !GetAtt 'ProcessQueueStateMachineLogGroup.Arn'
        IncludeExecutionData: true
        Level: ALL
  ProcessQueueScheduleRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AppCode}-${Environment}-Queue-Process-SFN-Schedule-Role
      Description: Role used by event rule responsible for triggering the queue process state machine.
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Action:
          - sts:AssumeRole
          Effect: Allow
          Principal:
            Service:
            - events.amazonaws.com
      ManagedPolicyArns:
      - !Ref 'StepFunctionPolicy'
  ProcessQueueScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Description: Run the process queue state machine at the specified intervals.
      ScheduleExpression: !Sub '${ProcessQueueManagerSchedule}'
      State: DISABLED # Disabled by default (manually enabled after initial deployment)      
      Targets:
      - Arn: !GetAtt ProcessQueueStateMachine.Arn
        Id: ProcessQueueScheduleRuleTarget
        RoleArn: !GetAtt 'ProcessQueueScheduleRole.Arn'
  FileAPICloudWatchRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - apigateway.amazonaws.com
            Action: 'sts:AssumeRole'
      RoleName: !Sub "${AppCode}-${Environment}-FileAPI-Role"
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonAPIGatewayPushToCloudWatchLogs
  FileAPIExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - apigateway.amazonaws.com
            Action: 'sts:AssumeRole'
      RoleName: !Sub "${AppCode}-${Environment}-FileAPI-Execution-Role"
      Path: /
      Policies:
        - PolicyName: LambdaAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: 'Allow'
                Action: 'lambda:*'
                Resource: !GetAtt FileAPIFunction.Arn
  FileAPIAccount:
    Type: 'AWS::ApiGateway::Account'
    Properties:
      CloudWatchRoleArn: !GetAtt FileAPICloudWatchRole.Arn 
  FileAPILogGroup:
    Type: 'AWS::Logs::LogGroup'
    Properties:
      LogGroupName: !Sub 'API-Gateway-Execution-Logs_${FileAPIRestApi}/${APIDeploymentStage}'
      RetentionInDays: 14

  FileAPIRestApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      ApiKeySourceType: HEADER
      Description: An API Gateway with a Lambda Integration
      EndpointConfiguration:
        Types:
          - REGIONAL
      Name: !Sub '${AppCode}-${Environment}-FileAPI'
  FileAPIResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      ParentId: !GetAtt FileAPIRestApi.RootResourceId
      PathPart: '{proxy+}'
      RestApiId: !Ref FileAPIRestApi
  FileAPIMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      ApiKeyRequired: !If [ DoAPIKEY, true, false ]
      AuthorizationType: NONE
      HttpMethod: GET
      Integration:
        ConnectionType: INTERNET
        Credentials: !GetAtt FileAPIExecutionRole.Arn
        IntegrationHttpMethod: POST
        PassthroughBehavior: WHEN_NO_MATCH
        TimeoutInMillis: 29000
        Type: AWS_PROXY
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${FileAPIFunction.Arn}/invocations'
      OperationName: 'lambda'
      ResourceId: !Ref FileAPIResource
      RestApiId: !Ref FileAPIRestApi
  FileAPIModel:
    Type: AWS::ApiGateway::Model
    Properties:
      ContentType: 'application/json'
      RestApiId: !Ref FileAPIRestApi
      Schema: {}
  FileAPIStage:
    Type: AWS::ApiGateway::Stage
    Properties:
      DeploymentId: !Ref FileAPIDeployment
      Description: FileAPI Demo Function Stage
      RestApiId: !Ref FileAPIRestApi
      StageName: !Ref APIDeploymentStage
      AccessLogSetting:
        DestinationArn: !GetAtt FileAPILogGroup.Arn
        Format: >-
          {"requestId":"$context.requestId", "ip": "$context.identity.sourceIp",
          "caller":"$context.identity.caller",
          "user":"$context.identity.user","requestTime":"$context.requestTime",
          "eventType":"$context.eventType","routeKey":"$context.routeKey",
          "status":"$context.status","connectionId":"$context.connectionId"}
  FileAPIDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn: FileAPIMethod
    Properties:
      Description: Lambda API Deployment
      RestApiId: !Ref FileAPIRestApi

  FileAPIUsagePlan:
    Type: AWS::ApiGateway::UsagePlan
    DependsOn: FileAPIRestApi
    Properties:
      ApiStages:
      - ApiId:
          Ref: FileAPIRestApi
        Stage:
          Ref: FileAPIStage
      Description: Usage plan for this API
      Throttle:
        BurstLimit: 200
        RateLimit: 100
  FileAPIApiKey:
    Type: AWS::ApiGateway::ApiKey
    DependsOn: FileAPIUsagePlan
    Properties:
      Enabled: true
      Name: !Sub '${AppCode}-${Environment}-FileAPI-Key'
      # Value: !Ref APIKeyValue
      # StageKeys:
      # - RestApiId:
      #     Ref: FileAPIRestApi
      #   StageName:
      #     Ref: FileAPIStage
  FileAPIUsagePlanKey:
    Type: AWS::ApiGateway::UsagePlanKey
    DependsOn: FileAPIApiKey
    Properties:
      KeyId:
        Ref: FileAPIApiKey
      KeyType: API_KEY
      UsagePlanId:
        Ref: FileAPIUsagePlan

Outputs:
  FileAPIRestApi:
    Value: !Sub https://${FileAPIRestApi}.execute-api.${AWS::Region}.amazonaws.com/${APIDeploymentStage}/files
